.range{
  background-color: $primary-colors;
  font-size: 1.6rem;
  padding: 10px 20px;
  text-align: center;
  color: var(--primary-dark-color);

  strong{
    text-transform: uppercase;
  }

  span{
    font-weight: 700;
  }
}