.slide {
  padding-bottom: 35px !important;

  @include media(lg) {
    padding-bottom: 90px !important;
  }
  .swiper-wrapper{
    align-items: center;
  }
  .swiper-slide-active {
    img {
      height: 450px;
      width: 100%;
      object-fit: cover;
    }
  }

  .swiper-slide-visible:not(.swiper-slide-active){
    transform: none !important;
    img {
      opacity: 0.5;
      height: 350px;
      width: 100%;
      object-fit: cover;
    }
  }
}
