
.fac {
  color: var(--primary-dark-color);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/bg-yellow.webp");
  padding: 35px 0;
  @include media(lg) {
    padding: 90px 0;
  }

  h2 {
    font-size: 3.2rem;
    line-height: 3.5rem;
    margin: 35px 0;
    text-transform: uppercase;
    @include media(lg) {
      font-size: 3.4rem;
      line-height: 4.5rem;
    }
  }
  .areaFac {
    .details {
      border-top: 2px solid var(--primary-dark-color);
      // border-bottom: 1px solid var(--primary-dark-color);
      &:last-child {
        border-bottom: 2px solid var(--primary-dark-color);
      }
      padding: 20px 0;
      .summary {
        font-size: 1.8rem;
        line-height: 2.2rem;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        @include media(lg) {
          font-size: 2rem;
          line-height: 2.9rem;
        }
        .icon{
          font-size: 2.4rem;
          padding: 0 5px;
        }
      }
      .description {
        overflow: hidden;
        max-height: 0;
        transform: translateY(1em);
        transition: all 0.55s ease;
        font-size: 1.6rem;
        line-height: 2.2rem;
        @include media(lg) {
          font-size: 1.8rem;
          line-height: 2.9rem;
        }
        &.open {
          display: block;
          max-height: 10em;
          transform: none;
        }
      }
    }
  }
}

